<img src="images/bugzilla.png"/>
<table width="100%">
  <tr>
    <td class="setting-name">Bugzilla URL</td>
    <td width="75%"><%= text_or_input(@edit, :name => "RSCM::Tracker::Bugzilla[url]", :value => bugzilla.url) %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Enter the URL of the Bugzilla installation here.
    </td>
  </tr>
</table>

