<script>
function mooky_init() {
  alert("Mooky! You'll find me under the 'Source Control' tab.")
}
</script>

<img src="images/mooky.png"/>
<table width="100%">
  <tr>
    <td class="config_cell">Foo</td>
    <td width="75%"><%= text_or_input(@edit, :name => "RSCM::Mooky[foo]", :value => mooky.foo) %></td>
  </tr>
  <tr>
    <td class="config_cell">Bar</td>
    <td width="75%"><%= text_or_input(@edit, :name => "RSCM::Mooky[bar]", :value => mooky.bar) %></td>
  </tr>
</table>
