<h1>Publishers</h1>
<p>
Publishers are special DamageControl <%= link_to "plugins", :action=>"plugin" %> that can publish results of builds. Each publisher can 'push' information about a build via a special communication channel.
</p>
<p>
Each DamageControl project has its own set of publishers. Each publisher can be configured to publish build information for special <%= link_to "build states", :action=>"build_states" %>
</p>
