<html>
<head>
<title>Dashboard</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="dashboard">
      <%= project_status %>
    </td>
    
  </table>
  
</body>
</html>
