<html>
<head>
<title>Dashboard</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

  <table class="dashboard">
    <tr>
      <td class="dashboard">
        <%= project_status %>
      </td>

      <td class="dashboard">
      
        <table class="dashboard">
          <tr>
            <td class="dashboard">
              <%= build_queue %>
            </td>
          </tr>
          <tr>
            <td class="dashboard">
              <%= build_executor_status %>
            </td>
          </tr>
        </table>
        
      </td>
    </tr>
    
  </table>
  
</body>
</html>
