<html>
<head>
<title>Dashboard</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="dashboard">
      <%= project_status %>
    </div>
    
    <div class="dashboard">
      <%= build_queue %>
    </div>

    <div class="dashboard">
      <%= build_executor_status %>
    </div>

</body>
</html>
