<html>
<head>
<title>Dashboard</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

	<%
		projects = project_config_repository.project_names
	%>
  
    <div class="dashboard">
  <%

  projects.each do |project|
    href = "project?project_name=#{project}"
    
    image = "images/lastcompletedstatus?project_name=#{project}"
    last_successful_build = build_history_repository.last_successful_build(project)
    label = ""
    label = " (##{last_successful_build.label})" if(last_successful_build)
  %>
    <img src="<%= image %>" />&nbsp;<a href="<%= href %>"><%= project %><%= label %></a><br/>
  <%
  end
  %>
    </div>
</body>
</html>
