<html>
<head>
<title>Dashboard</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>

  <table class="dashboard">
    <tr>
      <td class="dashboard">
        <%= project_status %>
      </td>
      <td class="dashboard">
          <%= build_queue %>
	  &nbsp;
          <%= build_executor_status %>
      </td>
    </tr>
    
  </table>
  
</body>
</html>
