<html>
<head>
<title><%= project_name %> trigger installation</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
  <% if error.nil? then %>
  
    <p>
      Trigger was successfully installed into your source control system.
    </p>
    
    <p>
      This is the command that is used to trig a build:
      <pre>
        <%= trigger_command.inspect %>
      </pre>
    </p>
    
  <% else %>
  
    Trigger installation failed.
    <pre>
    <%= error.message %>
    <%= error.backtrace.join("\n") %>
    </pre>
    
  <% end %>
</body>
</html>
