<td>
  <select name="publisher[DamageControl::Publisher::Sound][sound][<%= build_state.name %>]">
    <%= options_for_select(DamageControl::Publisher::Sound.sounds, plugin.sound ? plugin.sound[build_state.name] : nil) %>
  </select>
</td>