<div>
  <% revision_detail_id = "revision_#{revision.id}_detail" %>
  <%= revision.timepoint.strftime("%H:%M") %>
  <%= image_tag "document_edit", :size=>"16x16" %>
  <%= toggle_link_to_remote(revision.label, revision_detail_id, "revision", "show", revision.id) %>
  (<%= revision.developer %>)
</div>
<div id="revision_<%= revision.id %>_detail"></div>
