<dl><dt class="revision"><a href="#"><span class="time"><%=revision.timepoint.strftime("%H:%M")%></span> Revision <em>[<%=revision.label%>]</em> by <%=revision.developer%></a></dt><dd class="revision"><%=truncate(revision.message)%></dd></dl>