<form action="search"><div id="searchform">
  <img width="24" height="24" src="icons/find.png"/> 
  <b>Search <%= project_name %>:</b>
  <input name="search" size="12" value="<%= request.query['search'] %>"/>
  <input type="submit" value="Go"/> &nbsp;

  <input name="project_name" value="<%= project_name %>" type="hidden"/>
</form></div>
