<html>
<head>
<title><%= project_name %> trigger installation</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
  <% if error.nil? then %>
    <p>
    Trigger successfully installed.
    </p>
    <p>
    The trigger installation mechanism can sometimes malfunction in tricky situations, double-check by
    inspecting the content of your loginfo file:
    <a href="root/<%= project_name %>/checkout/CVSROOT/loginfo">here</a>.
    </p>
  <% else %>
    Could not install trigger:
    <pre>
    <%= format_exception(error) %>
    </pre>
  <% end %>
</body>
</html>
