<table class="pane">
  <tr><td class="pane-header" colspan="2">
    Build Queue
  </td></tr>
  <tr>
    <th class="pane">Project</th>
    <th class="pane">Timestamp</th>
  </tr>
  <%
    if build_queue.empty? then
  %>
      <tr>
        <td class="pane" colspan="2">No builds in the queue.</td>
      </tr>
  <% else %>
    <%
      build_queue.each do |build|
    %>
      <tr>
        <td class="pane"><%= build.project_name %></td>
        <td class="pane"><%= build.dc_creation_time.to_human %></td>
      </tr>
    <% end %>
  <% end %>
</table>