<form action="project">
  Search builds:<br>
  <image src="icons/find.png"/> <input name="search" value="<%= request.query['search'] %>"/>
  <input type="submit" value="Go"/>

  <input name="action" value="search" type="hidden"/>
</form>
