<table id="projectstatus" class="pane">
  <tr>
    <th align="left">Project</th>
    <th align="left">Changeset RSS</th>
  </tr>
<% @projects.each do |project| %>
  <tr>
    <td align="left"><%= link_to(project.name, {:controller => "project", :action => "view", :id => project.name}) %></td>
    <td align="left"><%= link_to_image("rss.gif", :action => "rss", :id => project.name) %></td>
  </tr>
<% end %>
</table>
