<%= tip_box %>
<p>
Put the build's label in the file names of your build artifacts! Get the label by reading read the value of 
the <pre>DAMAGECONTROL_BUILD_LABEL</pre> environment variable in your build script.
</p>
<p>
It's much better for everyone if your build artifacts look like <b>mooky-0.3.4.1971.zip</b>
</p>
</div>