<img src="images/rubyforge.png"/>
<table width="100%">
  <tr>
    <td class="setting-name">Project ID</td>
    <td width="75%"><input class="setting-input" name="group_id" id="group_id" type="text" value="<%= group_id %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Enter the ID of your RubyForge.net project here (group_id)
    </td>
  </tr>
  <tr>
    <td class="setting-name">Tracker ID</td>
    <td width="75%"><input class="setting-input" name="tracker_id" id="tracker_id" maxlen="4" type="text" value="<%= tracker_id %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Enter the module ID of the tracker here. If you open a bug in the tracker
      enter the value of the URL parameter <strong>atid</strong> here. Example: <tt>http://rubyforge.org/tracker/index.php?func=detail&amp;aid=<strong>1120</strong>&amp;group_id=426&amp;atid=1698</tt>.
    </td>
  </tr>
</table>

