<script>
var bugzilla_url_tip = "<div class='tp1'>The URL of the Bugzilla installation.</div>";
</script>

<table width="100%">
  <tr>
    <td width="25%" class="setting-name">Bugzilla URL</td>
    <td><%= tip(:txt => 'bugzilla_url_tip') %></td>
    <td width="75%"><%= text_or_input(@edit, :name => "RSCM::Tracker::Bugzilla[url]", :value => bugzilla.url) %></td>
  </tr>
</table>

<img src="/images/bugzilla.png"/>
