<script>
var trac_url_tip = "<div class='tp1'>The URL of the Trac installation. This URL should include no trailing slash. Example: http://my.trac.home/cgi-bin/trac.cgi</div>";
</script>

<table width="100%">
  <tr>
    <td width="25%" class="setting-name">Trac URL</td>
    <td><%= tip(:txt => 'trac_url_tip') %></td>
    <td width="75%"><%= text_or_input(@edit, :name => "RSCM::Tracker::Trac[url]", :value => trac.url) %></td>
  </tr>
</table>

<img src="/images/trac.png"/>
