<form action="search"><div id="searchform">
  <img width="24" height="24" src="largeicons/find.png"/> 
  <b>Search:</b>
  <input name="search" size="12" value="<%= request.query['search'] %>"/>
  <input type="submit" value="Go"/> &nbsp;
</div></form>
