.diff-added {margin:0; background-color:#ddffdd;}
.diff-removed {margin:0; background-color:#ffdddd;}
.diff-context {margin:0; background-color:#eeeeee;}

.diff-addedchars {background-color:#99ff99;font-weight:bolder;}
.diff-removedchars {background-color:#ff9999;font-weight:bolder;}
