body {  
  color: #333333;

  background-color: #FFFFFF;

  font-size: 80%;
  font-family: verdana, helvetica, arial, sans-serif;
  line-height: 1.7em;

  margin:10px 10px 0px 10px;
  padding:0px;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  letter-spacing: -0.04em;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: -0.04em;
}

/* Styles for project settings panel */
#settings-group {
}

.settings-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 500px;
}

.setting-icon-row {
  position: relative;
  height: 48px;
}

.setting-icon-column {
  padding-left: 12px;
  float: left;
  width: 48px;
}

.setting-names-row {
  position: relative;
  height: 20px;
  text-align:center;margin:0 auto;
}

.setting-name-column {
  padding-left: 12px;
  float: left;
  width: 48px;
  height: 20px;
}

.setting-category-row {
  position: relative;
  height: 20px;
}

.project-summary {
  
}

.overview-header h2 {
  background-color: #AAAAAA;
}

/* arrows on textiled lists in revision summary */
.revision-summary {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.revision-summary li {
  padding-left: 10px;
  /* TODO: how to deal with absolute URLs on e.g. codehaus where the context is not at root? */
  background-image: url(/images/list-arrow.gif);
  background-repeat: no-repeat;
  background-position: 0px;
}

.notice {
  padding: 4px;
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
}

.framed-box {
  padding: 10px;
  background: #EEEEEE;
  border: 1px solid #CCCCCC;
}

.tip-box {
  font-size: 80%;
  padding: 4px;
  background: #AAAAAA;
  border: 1px solid #CCCCCC;
}

.pre-box {
  font-family: courier;  
  padding: 4px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
}

.sample-box {
  padding: 4px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
}
