<% if(object.supports_trigger?) %>
  <table>
    <tr>
      <td>Change detection</td>
      <td>
        Polling: <%= radio_button_tag("scm[#{object.class.name}][change_detection]", "POLLING", true, {:id=>nil}) %>
        Trigger: <%= radio_button_tag("scm[#{object.class.name}][change_detection]", "TRIGGER", false, {:id=>nil}) %>
      </td>
    </tr>
  </table>
<% end %>
