<img src="images/bugzilla.png"/>
<table width="100%">
  <tr>
    <td class="setting-name">Bugzilla URL</td>
    <td width="75%"><input class="setting-input" name="RSCM::Tracker::Bugzilla[url]" type="text" value="<%= self.url %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Enter the URL of the Bugzilla installation here.
    </td>
  </tr>
</table>

