<img src="images/jira.gif"/>
<table width="100%">
  <tr>
    <td class="setting-name">Jira URL</td>
    <td width="75%"><input class="setting-input" name="jira_url" id="jira_url" type="text" value="<%=  jira_url %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Enter the URL of the Jira installation here, not of the specific Jira module
    </td>
  </tr>
</table>

