<img src="images/scarab.gif"/>
<table width="100%">
  <tr>
    <td class="setting-name">Scarab URL</td>
    <td width="75%"><input class="setting-input" name="scarab_url" id="scarab_url" type="text" value="<%=  scarab_url %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Enter the URL of the Scarab installation here, not of the specific Jira module
    </td>
  </tr>
	<tr>
    <td class="setting-name">Scarab Module</td>
    <td width="75%"><input class="setting-input" name="module_key" id="module_key" maxlen="4" type="text" value="<%=  module_key %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Enter the module key of the project here
    </td>
  </tr>
</table>

