<img src="images/sourceforge.gif"/>
<table width="100%">
  <tr>
    <td class="setting-name">Project ID</td>
    <td width="75%"><input class="setting-input" name="group_id" id="group_id" type="text" value="<%=  group_id %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Enter the ID of your sourceforge.net project here
    </td>
  </tr>
	<tr>
    <td class="setting-name">Tracker ID</td>
    <td width="75%"><input class="setting-input" name="tracker_id" id="tracker_id" maxlen="4" type="text" value="<%=  tracker_id %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Enter the module ID of the tracker here. If you open a bug in the tracker
			enter the value of the URL parameter <strong>atid</strong> here. Example: <tt>http://sourceforge.net/tracker/index.php?func=detail&amp;aid=<strong>1051927</strong>&amp;group_id=7856&amp;atid=107856</tt>.
    </td>
  </tr>
</table>

