<img src="http://subversion.tigris.org/subversion_logo-200x173.png" height="62" width="54"/> (doesn't work yet)
	<table>
		<tr>
			<td class="config_cell">URL</td>
			<td><input class="scm_info" name="svnurl" id="svnurl" type="text" value="<%= project_config['svnurl'] %>"></td>
		</tr>
	</table>
</div>
