<img src="http://subversion.tigris.org/subversion_logo-200x173.png" height="62" width="54"/> (doesn't work yet)
<table>
  <tr>
    <td class="config_cell">Base url</td>
    <td><input class="scm_info" name="svnurl" id="svnurl" type="text" value="<%= project_config['svnurl'] %>"></td>
  </tr>
  <tr>
    <td class="config_cell">Directory</td>
    <td><input class="scm_info" name="svnprefix" id="svnprefix" type="text" value="<%= project_config['svnprefix'] %>"></td>
  </tr>
  <tr>
    <td>ViewCVS/Fisheye base URL</td>
    <td><input class="scm_info" name="view_cvs_url" id="view_cvs_url" type="text" value="<%= project_config['view_cvs_url'] %>"></td>
  </tr>
</table>
