<html>
<head>
<title>Add Project</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body onLoad="executeOnLoad()">
<script><!--

function executeOnLoad() {
  <% @scms.each do |scm| %>
    <%= scm.javascript_on_load %>
  <% end %>
}

function showElement(selected, elements) {
  // hide all divs in the group
  for(element in elements) {
    id = elements[element]
    style = "none"
    if(id == selected) {
      style = "block"
    }
    document.getElementById(id).style.display = style
  }
}

// All thew tabs
tabs = ["project_tab", "scm_tab", "tracker_tab"]

// All the SCMs
scms = [
<% @scms.each do |scm| %>
  "<%=scm.class.name %>",
<% end %> "" ];

<% @scms.each do |scm| %>
  <%= scm.javascript %>
<% end %>

// All the Trackers
trackers = [
<% @trackers.each do |tracker| %>
  "<%=tracker.class.name %>",
<% end %> "" ];

// -->
</script>

<ul id="foldertab">
    <li><a href="javascript:showElement('project_tab', tabs)"><img src="../images/16x16//wrench.png"> General</a></li>
    <li><a href="javascript:showElement('scm_tab', tabs)"><img src="../images/16x16//safe.png"> Source Control</a></li>
    <li><a href="javascript:showElement('tracker_tab', tabs)"><img src="../images/16x16//scroll_information.png"> Issue Tracker</a></li>
</ul>

<form action="save">

<div id="project_tab" style="display:block">
  <%= @project.config_form %>
</div>

<div id="scm_tab" style="display:none">
<table width="100%">
<tr>
  <td>Source control</td>
  <td>
    <% @scms.each do |scm| %>
      <input 
        type="radio" 
        value="<%= scm.class.name %>" 
        name="scm" 
        onClick="javascript:showElement('<%= scm.class.name %>', scms)"<%if(scm.selected?)%>checked="true"<%end%>/> 
      <%= scm.name %>
    <% end %>
  </td>
</tr>
</table>

  <% @scms.each do |scm| %>
    <div id="<%= scm.class.name %>" style="<% if(scm.selected?)%>display:block<%else%>display:none<%end%>">
      <%= scm.config_form %>
    </div>
  <% end %>
  
</div>

<div id="tracker_tab" style="display:none">
Issue tracking. By specifying an issue tracker, issue numbers/ids in developers' SCM commit messages
will be detected and highlighted with external links to the particular issue. 
This way people browsing changesets can easily navigate to related issues.
<table width="100%">
<tr>
  <td>Issue tracker</td>
  <td>
    <% @trackers.each do |tracker| %>
      <input 
        type="radio" 
        value="<%= tracker.class.name %>" 
        name="tracker" 
        onClick="javascript:showElement('<%= tracker.class.name %>', trackers)"<% if(tracker.selected?) %>checked="true"<%end%>/>
      <%= tracker.name %>
    <% end %>
  </td>
</tr>
</table>

  <% @trackers.each do |tracker| %>
    <div id="<%= tracker.class.name %>" style="<% if(tracker.selected?)%>display:block<%else%>display:none<%end%>">
      <%= tracker.config_form %>
    </div>
  <% end %>
</div>

  <input type="submit" value="Save"/>
  
</form>
  
</body>
</html>
