<table>
  <tr>
    <td>Project name</td>
    <td><%= text_field("project", "name") %></td>
  </tr>
  <tr>
    <td>Build command</td>
    <td><%= text_field("project", "build_command") %></td>
  </tr>
  <tr>
    <td>Relative build path</td>
    <td><%= text_field("project", "relative_build_path") %></td>
  </tr>
  <tr>
    <td>Home page</td>
    <td><%= text_field("project", "home_page") %></td>
  </tr>
</table>
