<h1>Create new Project</h1>
<p>
There are several ways to create a new DamageControl project.
</p>
<div class="framed_box">
  <h2>Create from scratch</h2>
  Bla bla bla
</div>
<br/>
<div class="framed_box">
  <h2>Import project settings from RubyForge</h2>
  RubyForge project name (unix name):<br/>
  <%= form_tag :action => "new_rubyforge" %>
  <%= text_field_tag "project_name" %>
  </form>
</div>