<div id="timeline">
  <% last_date = nil %>
  <% @revisions.each do |revision| %>
    <% date = revision.timepoint.strftime("%e %b"); if(date != last_date) %>
      <h2><%= date %></h2>
    <% end; last_date = date %>

    <% revision.builds.reverse.each do |build| %>
      <%= build_inline_link(build) %>
    <% end %>

    <%= revision_inline_link(revision) %>
  <% end %>
</div>
