<h1>Build command</h1>
In each project you should specify a build command. Example:

{{{
ant jar
}}}

If you need several commands to execute the build, separate them with && characters:

{{{
autoconf && ./configure && make
}}}

Do not use any stream redirect operators such as > or 2> - DamageControl will add these automatically to capture the output.