<h1>Plugins</h1>
<p>
DamageControl has a simple plugin architecture that makes it relatively easy to write new extensions to DamageControl. There are four kinds of plugins:
</p>
<p>
  <ul>
    <li>SCM (using the RSCM API)</li>
    <li>Publisher</li>
    <li>Issue Tracker</li>
    <li>SCM Web</li>
  </ul>
</p>
