<h1>Creating projects</h1>
<p>
  The easiest way to create a new DamageControl project (or modify the settings for an existing one) 
  is to use the web interface.
</p>
<p>
  TODO: screenshot
</p>
<p>
  Here you can fill in as much information as you like. Most fields are optional.
</p>
<p>
  Also check out how to <%= link_to "import projects", :action => "import_project" %>.
</p>