<h1>RSS feeds</h1>
<p>
Each DamageControl project has its own RSS news feed that publishes information about new revisions and builds for the project.
These feeds are also <a href="appcast.html">appcast</a> feeds that can be used for distribution of a project's
primary build artifacts.
</p>
<p>
In addition to RSS feeds, DamageControl also supports several <a href="publisher.html">publishers</a>, which
are alternative ways to publish new SCM revisions and build results.
</p>
