<table>
<% @revisions.each do |revision| %>
  <tr>
    <td nowrap="nowrap">
      <%= link_to(revision.identifier, :controller => "revision", :action => "show", :id => revision.id) %>
    </td>
    <td width="100%">
      <% revision.builds.each do |build| %>
        <%= link_to(image_tag(build.small_image, :border => 0), "http://www.example.com") %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

