<div id="revisions">
  <table>
  <% @revisions.each do |revision| %>
    <tr>
      <td nowrap="nowrap">
        <%= link_to(revision.label, :controller => "revision", :action => "show", :id => revision.id) %>
        (<%= revision.developer %>)
      </td>
      <td>
        <% revision.builds.each do |build| %>
          <%= build_link(build) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
