<img src="images/bugzilla.png"/>
<table width="100%">
  <tr>
    <td class="setting-name">Bugzilla URL</td>
    <td width="75%"><input class="setting-input" name="bugzilla_url" id="bugzilla_url" type="text" value="<%= bugzilla_url %>"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="setting-description">
      Enter the URL of the Bugzilla installation here.
    </td>
  </tr>
</table>

