<table class="pane">
  <tr><td class="pane-header" colspan="2">
    Build Executor Status
  </td></tr>
  <tr>
    <th class="pane"></th>
    <th class="pane">Status</th>
  </tr>
  <%
    i = 0
    build_executors.each do |build_executor|
      i += 1
  %>
  <tr>
    <td class="pane">#<%= i %></td>
    <td class="pane"><%= build_executor_status_message(build_executor) %></td>
  </tr>
  <% end %>
</table>