<form action="project">
  Search builds:<br>
  <input name="search" value="<%= request.query['search'] %>"/>
  <input name="action" value="search" type="hidden"/>
  <input type="submit" value="Go"/>
</form>
