<%
projects = project_config_repository.project_names
projects.each do |project|
  href = "project?project_name=#{project}"
  
  image = "images/lastcompletedstatus?project_name=#{project}"
  last_successful_build = build_history_repository.last_successful_build(project)
  label = ""
  label = " (##{last_successful_build.label})" if(last_successful_build)
%>
  <img width="32" height="32" src="<%= image %>" />&nbsp;<a href="<%= href %>"><%= project %><%= label %></a><br/>
<%
end
%>
