<form action="search">
  Search <%= project_name %> builds:<br>
  <img width="24" height="24" src="icons/find.png"/> <input name="search" value="<%= request.query['search'] %>"/>
  <input type="submit" value="Go"/>

  <input name="project_name" value="<%= project_name %>" type="hidden"/>
</form>
