<%
link = {:controller => "project", :action => "edit", :id => project.id}
if(project.latest_revision)
  link = {:controller => "revision", :action => "show", :id => project.latest_revision.id}
end
%>
<div class="project-summary">
  <%= build_link(project.latest_build) %> <%= link_to(project.name, link) %>
</div>
