body, table, form, input, td, th, p, textarea, select
{
  font-family: Verdana, Helvetica, sans serif;
  font-size: 11px;
}

a:link {
  color: #0000ff;
  text-decoration: underline;
}

a:hover {
  color: #ff0000;
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border: 0;
}

div.dashboard {
  display: inline;
}

.scm_info {
  width: 480px;
}

.config_cell {
  width: 160px;
}

.top-panel {
  float: top;
  padding-bottom: 3pt;
  margin-bottom: 3pt;
}

.top-nav {
  float: top;
  height: 16px;
  border-top: 1px #7f7f7f solid;
  border-bottom: 1px #7f7f7f solid;
  padding-bottom: 3pt;
  margin-bottom: 3pt;
}

.left-top-nav {
  float: left;
}

.right-top-nav {
  float: right;
}

.task-panel {
  float: left;
  width: 200px;
  margin-right: -1px;
  padding: 3px;
  border: 1px #7f7f7f solid;
  border-bottom: 2px #7f7f7f solid;
  border-right: 2px #7f7f7f solid;
}

.main-panel {
  float: right;
  clear: right;
}

.task-header {
  display: block;
  border-bottom: 1px #7f7f7f solid;
  font-weight: bold;
  font-size: 12pt;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  float: bottom;
  font-size: 8pt;
  text-align: center;
  margin-top: 5em
}

.main-table {
}

.pane  {
  margin-bottom: 0.5em;
}

table.pane {
  background-color: #ffffff;
  border-collapse: collapse;
  border: 1px #7f7f7f solid;
  border-bottom: 2px #7f7f7f solid;
  border-right: 2px #7f7f7f solid;
}

td.pane {
  border: 1px #7f7f7f solid;
  background-color: #ffffff;
}

td.pane-header {
  border: 1px #7f7f7f solid;
  background-color: #bbbbbb;
  font-weight: bold;
}

th.pane {
  border: 1px #7f7f7f solid;
  font-weight: bold;
}
