<html>
<head>
<title><%= project_name %> trigger installation</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
  <% if scm.can_install_trigger? then %>
  
    <form>
      <input type="hidden" name="action" value="do_install_trigger" />
      <input type="hidden" name="project_name" value="<%= project_name %>" />
      Congratulations! DamageControl can automatically install the trigger into your source control system.
      Follow these three simple steps:
      <ol>
        <li>
          <b>Install DamageControl on the source control server</b><br/>
          If the source-control server is not in the same server as your DamageControl server then you
          need to install the DamageControl distribution on the source control server.
        </li>
        <li>
          <b>Specify installation directory</b><br/>
          Specify the directory on the source control server where the DamageControl distribution was installed:<br/>
          <input size="50" type="input" name="damagecontrol_install_dir" value="<%= damagecontrol_install_dir %>" />
        </li>
        <li>
          <b>Install it</b><br/>
          The trigger will be automatically installed by clicking this button:<br/>
          <input type="submit" name="submit" value="Install trigger" />
        </li>
      </ol>
    </form>
    
  <% else %>
  
    <p>
    Unfortunately DamageControl can not automatically install the trigger into your source-control system.
    </p>
    
    <p>
    Refer to the documentation on how to manually install the trigger: <br/>
    <a href="http://damagecontrol.codehaus.org/How+to+install+the+DamageControl+trigger+into+your+SCM">How to install the DamageControl trigger into your SCM</a>, <br/>
    or use <a href="http://damagecontrol.codehaus.org/Polling">polling</a>.
    
  <% end %>
</body>
</html>
