<%= tip_box %>
  If you include bug identifiers in your SCM commit messages,
  they will be turned into bug links on the revision pages.
  Example:
  <div class="pre-box">
  Fixed DC-439 and DC-429
  </div>
  becomes:
  <div class="sample-box">
  Fixed <a href="http://jira.codehaus.org/browse/DC-439">DC-439: RSCM bug on windows</a> and <a href="http://jira.codehaus.org/browse/DC-429">DC-429: Trac plugin</a>
  </div>
</div>