<%= tip_box %>
  Tired of keeping your bugtracker up to date?
  Why not close and edit issues and bugs through
  your commit messages? Example:
  <div class="pre-box">
  Fixed DC-439 and DC-429
  </div>
  This will not only create a link to these issues,
  it will also close them for you!
  (ATTENTION! This is not implemented yet!)
</div>