<%= tip_box %>
<p>
If your project's sources live in an SCM on <a href="http://codehaus.org/">Codehaus</a>, <a href="http://rubyforge.org/">RubyForge</a>, <a href="http://sourceforge.net/">SourceForge</a> or an arbitrary <a href="http://www.edgewall.com/trac/">Trac</a> installation,
you can quickly import most of your project's settings by selecting the <b>Import</b> icon.
</p>
<p>
(If your project's sources live elsewhere, you can of course specify the settings you want manually.)
</p>
</div>