<%= tip_box %>
DamageControl uses UTC times for all timestamps.
There is no need to synchronise clocks on the
server running DamageControl and the servers hosting
the SCMs. DamageControl uses the SCM's times when
polling for new revisions (unless the SCM has native
support for revisions, like Subversion, in which
case it uses the revision numbers to poll for new revisions)
</div>