<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= @page_title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Language" content="en-us"/>
  
  <% @feeds.each do |feed| %>
    <%= auto_discovery_link_tag(feed.type, feed.url_options, {:title => feed.title}) %>
  <% end %>
	
	<%= stylesheet_link_tag("style.css", "diff.css", "undohtml.css") %>
  <%= javascript_include_tag(
    "prototype",
    "effects",
		"damagecontrol"
	) %>
</head>
<body>
  <p>
  <%= link_to "New Project", :controller => "project", :action => "new" %>
| <%= link_to "Artifacts", :controller => "file_system", :action => "artifacts" %>
  <% if(@project) %>
    | <%= link_to "RSS", :controller => "project", :action => "rss", :id => @project.id %>
  <% end %>
  </p>

  <table width="100%">
    <tr>
      <td width="20%">
        <% if(@template_for_left_column) %>
          <%= render(@template_for_left_column) %>
        <% else %>
        TODO: assign @template_for_left_column to have it rendered here!
        <% end %>
      </td>
      <td width="60%">
        <div id="content_for_layout">
          <% if @flash["notice"] %><div class="notice"><%= @flash["notice"] %></div><% end %>
          <%= @content_for_layout %>
        </div>
      </td>
      <td width="20%">
        <%= render(@template_for_tip) %>
        <% @project_list_refresh = true %>
        render("project/list")
      </td>
    </tr>
  </table>
</body>
</html>