<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>DamageControl</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Language" content="en-us"/>
	<%= stylesheet_link_tag("/javascripts/jscalendar/calendar-win2k-2", "style.css", "diff.css") %>
  <%= javascript_include_tag(
    "prototype"
#    "control",
#    "dragdrop",
#    "effects",
#    "rico"
#		"/javascripts/jscalendar/calendar",
#		"/javascripts/jscalendar/calendar-setup.js",		
#		"/javascripts/jscalendar/lang/calendar-en.js"
	) %>
</head>
<body>
  <p>
  <%= link_to "New Project", :controller => "project", :action => "new" %>
  </p>
	<%= @content_for_layout %>
</body>
</html>